# Ignore everything else
*

# Allow only necessary files
!terraform_configs\main.tf
!terraform_configs\providers.tf
!terraform_configs\outputs.tf
!terraform_configs\variables.tf
!README.md
!terraform_configs\.terraform.lock.hcl
!.gitignore

# Allow function directories
!function_code


