# Ignore everything
*

# Allow terraform_configs directory
!/terraform_configs/

# Ignore everything in terraform_configs
terraform_configs/*

# Allow main.tf in terraform_configs
!terraform_configs/main.tf

